<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            background-image: url("/static/assets/img/heo-img.jpg"); /* Adjust the path accordingly */
            background-size: cover;
            margin: 0;
            padding: 0;
            font-family: 'Comic Sans MS', sans-serif; /* Specify the font-family */
            color: black; /* Set the text color */
        }

        .pd {
            padding-bottom: 45%;
        }
    </style>
</head>
<body>
    <br>
    <center>
        <b class="pd"><font size="8">"Paws and Pixels: Empowering Conservation with Bear Species Recognition"





</font></b>
    </center>
    <br><br>
    <div>
        <br>
        <center>
            <h2>Bear Classifier Is:</h2>
            <h2>{{ predict }}</h2>
        </center>
    </div>
</body>
</html>
